.App{
    padding: 2rem;
    font-family: 'Inter', sans-serif;
    color: var(--primary-color);
    text-align: center;
    background-color: var(--bg-color);
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 3rem;
}

.menu-item-card{
    background-color: var(--card-bg-color);
    width: 18rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    text-align: left;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    padding: 0.5rem
}

.menu-item-card h2,
.menu-item-card p {
    margin: 0;
}

.menu-item-card:hover {
  transform: translateY(-5px);
}

.menu-item-details {
  padding: 1rem;
}

.menu-item-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
  padding-bottom: 0.2rem;
}

.menu-item-price {
  font-weight: bold;
  color: var(--accent-color);
  margin-bottom: 0.3rem;
  padding-bottom: 0.7rem;
}

.menu-item-rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.9rem;
  color: #bbb;
  margin-bottom: 8px;
}

.no-menu {
  font-style: italic;
  color: #888;
  margin-top: 1rem;
}

.star-bar {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1rem;
  line-height: 1;
}

.rating-value {
  font-weight: 600;
  font-size: 0.95rem;
  color: var(--primary-color);
  text-align: right;
}

.stars-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 0.1rem;
}

.star-filled {
  color: #ffe234;
}

.star-half {
  position: relative;
  display: inline-block;
  color: #555;
}


.star-half::before {
  content: '★';
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
  color: #ffe234;
  z-index: 1;
}

.star-empty {
  color: #555;
}

.review-count {
  color: #888;
}



.Vegan{
  color: #4CAF50;
}

.Vegetarian{
  color: #FFB74D
}

.menu-item-tags{
  font-family: 'Roboto', sans-serif
}